body {
    font: 10px;
}
.testbox {
    display:block;
    background-color:yellowgreen;
    width:350px;
    padding:5px 20px 5px 20px;
    border-bottom:3px solid;
    border-radius:5px;
    float:left;
 
}

.testbox2 {
    display: block;
    background-color:#ff6a00;
    width: 350px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    float:unset;
    position:absolute;
    top: 255px;
    left: 19px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    border-bottom-width: 3px;
}
.scroll-list {
    max-height: 260px;
    width: 500px;
    overflow-y: auto;
    margin-bottom: 30px;
    list-style-type: none;
}

    .scroll-list .scroll-item a {
        display: block;
        padding: 10px 15px;
        color:aqua;
        font-size: 0;
        transition: background-color 0.1s;
        text-decoration:none;
     
    }
        .scroll-list .scroll-item a:hover {
            background-color:#f8be1d;
            width:30%;
        }

    .scroll-list .category {
        display: inline-block;
        width: 30%;
        border-radius: 5px;
        background-color: #d03c56;
        color: #fff;
        text-align: center;
        letter-spacing: 1px;
        font-size: 1.0rem;
        line-height: 16px;
    }
.testbox2 table {
    padding: 10px;
}
.testbox2 td {
    padding: 10px;
    font: 24px;
    font-size:1.1rem;
    font-weight:200;
}